body {
  font-family: 'Cinzel', serif;
  font-style: normal;
  background: #000;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 15px;
}

h1, h2, h3, h4, h4 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 50px;
  letter-spacing: 0.08em;
}

header {
  height: 100vh;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  box-sizing: border-box;
  position: relative;
  line-height: 75px;
  /* background:url(img/line.svg); */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: none;
}

#logo {
  left: 25px;
  top: 15px;
  z-index: 999;
}

nav {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 999;
}

.mov:hover {
  transform: rotate(25deg);
  bottom: 15px;
}

main {
  min-height: 1600px;
  background: #fff;
}

.row {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slog {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 999;
}

.slog h1 {
  font-size: 95px;
  color: #fff;
  font-weight: 900;
}

.slog h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  text-transform: uppercase;
}

.decor-project-anim-v1 {
  position: absolute;
  top: 60vh;
  left: 24vw;
}

.decor-project-anim-v2 {
  position: absolute;
  top: 10vh;
  left: 3vw;
}

.decor-project-anim-v3 {
  position: absolute;
  top: 13vh;
  left: 62vw;
}

.decor-project-anim-v4 {
  position: absolute;
  top: 76vh;
  left: 26vw;
}

.decor-project-anim-v5 {
  position: absolute;
  top: 61vh;
  left: 58vw;
}

.decor-project-anim-v6 {
  position: absolute;
  top: 60vh;
  left: 41vw;
}

.decor-project-anim-v7 {
  position: absolute;
  top: 16vh;
  left: 84vw;
}

.decor-project-anim-v8 {
  position: absolute;
  top: 69vh;
  left: -1vw;
}

.decor-project-anim-v9 {
  position: absolute;
  top: 32vh;
  left: 30vw;
}

.decor-project-anim-v10 {
  position: absolute;
  top: 72vh;
  left: 81vw;
}

.decor-project-anim-v11 {
  position: absolute;
  top: 19vh;
  left: 42vw;
}

header a {
  cursor: none;
}

.circle-follow {
  position: absolute;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  left: -21px;
  top: -21px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}

.startLogo {
  position: fixed;
}

.altLogo {
  position: absolute;
}

#content-frame {
  padding: 114px 15vw 0 15vw;
}

.short-ab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
}

.short-ab p {
  line-height: 25px;
}

.contact-form {
  margin-top: 165px;
  margin-bottom: 165px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
}

.contact-option {
  margin-top: 45px;
}

.contact-option a {
  font-size: 28px;
  font-family: lato;
  font-weight: 100;
  font-style: normal;
  color: #ACACAC;
  text-decoration: none;
}

.contact-option li {
  list-style: none;
  position: relative;
  line-height: 35px;
}

.contact-option li::before {
  content: '';
  width: 16px;
  height: 18px;
  display: block;
  position: absolute;
  left: -35px;
  top: 8px;
  list-style: none;
}

#contact fieldset strong {
  display: block;
}

#contact input {
  width: 100%;
}

/* beta */
.square {
  width: 100px;
  height: 100px;
  background: red;
  left: 0px;
  top: 0px;
  position: relative;
}
